*{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}

section{
    display: flex;
}
.text-half-sectioon{
    width: 65%;
    padding-left: 75px;
    padding-top: 10px;
}
.text-half-sectioon a{
    text-decoration: none;
    background-image: linear-gradient(rgb(212, 153, 44), tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}
.img-half-sectioon{
    width: 35%;
    padding-left: 15px;
    padding-top: 20px;
}
.top-banner{
    background-image: url(pictures/top-banner.png);
    background-repeat: no-repeat;
    background-size: 20rem;
}